In [2]:
import pandas as pd
import numpy as np
import networkx as nx

In [4]:
df_data = pd.read_csv('data/dij_joint_civ.csv')

In [5]:
df_data.head()

    i   j      D_ij  civ_i  civ_j civ_ij  comciv
0  AE  AL -6.799441  islam  islam  islam       1
1  AE  AM -2.050316  islam  ortho    NaN       0
2  AE  AO -6.755312  islam  afric    NaN       0
3  AE  AR -5.421352  islam  latam    NaN       0
4  AE  AS -1.580247  islam    NaN    NaN       0

In [6]:
codes = pd.read_csv('data/codes.csv')

In [7]:
codes.head()

   1 United Arab Emirates  AE
0  2               Angola  AO
1  3            Argentina  AR
2  4              Austria  AT
3  5            Australia  AU
4  6           Azerbaijan  AZ