In [1]:
#pip install -r requirements.txt

Requirement already satisfied: appnope==0.1.0 in /usr/local/Cellar/jupyterlab/2.2.9_1/libexec/lib/python3.9/site-packages (from -r requirements.txt (line 1)) (0.1.0)
Processing /private/tmp/jupyterlab--argon2-cffi-20201109-55879-fd1k0d/argon2-cffi-20.1.0
ERROR: Could not install packages due to an EnvironmentError: [Errno 2] No such file or directory: '/private/tmp/jupyterlab--argon2-cffi-20201109-55879-fd1k0d/argon2-cffi-20.1.0'

Note: you may need to restart the kernel to use updated packages.

In [2]:
#pip install pyhton-igraph

ERROR: Could not find a version that satisfies the requirement pyhton-igraph
ERROR: No matching distribution found for pyhton-igraph
Note: you may need to restart the kernel to use updated packages.

In [25]:
from igraph import Graph
from igraph import ARPACKOptions
import math
import numpy as np
import pandas as pd
import networkx as nx
import community as louvain_community
import matplotlib.pyplot as plt
import matplotlib.cm as cm
%matplotlib inline

In [36]:
codes = pd.read_csv('data/codes_over_5mil.csv', delimiter=' ')
df = pd.read_csv('data/dij_joint_civ.csv')
df['positive_Dij'] = [pow(math.e,d) for d in df['D_ij']]
df5 = df[df['i'].isin(codes['Code'])]
df5 = df5[df5['j'].isin(codes['Code'])]
codes.set_index('Code', inplace=True)

In [37]:
codes.head()

      Index               Country
Code
AE        1  United Arab Emirates
AO        2                Angola
AR        3             Argentina
AT        4               Austria
AU        5             Australia

In [38]:
print(len(df), len(df5)) # perfect

10667 3828

In [39]:
G = Graph()
G.add_vertices(list(set(df5['i'])) + ['ZW'])
for i, row in df5.iterrows():
    G.add_edge(row['i'], row['j'], weight=row['positive_Dij'])

partition = G.community_multilevel(weights='weight') # arpack_options=ARPACKOptions(max_iter=10000))
groups = {}
for i, g in enumerate(partition.subgraphs()):
    for n in g.vs['name']:
        groups[n] = i

In [40]:
codes['ml'] = 0
for k, v in groups.items():
    codes.loc[k, 'ml'] = v

In [46]:
codes[codes['ml'] == 5]

      Index       Country  ml
Code
BD        7    Bangladesh   5
BF        9  Burkina Faso   5
BO       12       Bolivia   5
BR       13        Brazil   5
CM       20      Cameroon   5
ES       30         Spain   5
FR       33        France   5
IL       42        Israel   5
KH       48      Cambodia   5
MA       53       Morocco   5
TH       79      Thailand   5

In [57]:
G = Graph()
G.add_vertices(list(set(df5['i'])) + ['ZW'])
for i, row in df5.iterrows():
    G.add_edge(row['i'], row['j'], weight=row['positive_Dij'])

partition = G.community_leading_eigenvector(clusters=3, weights='weight') # arpack_options=ARPACKOptions(max_iter=10000))
groups = {}
for i, g in enumerate(partition.subgraphs()):
    for n in g.vs['name']:
        groups[n] = i

In [58]:
codes['le3'] = 0
for k, v in groups.items():
    codes.loc[k, 'le3'] = v

In [62]:
codes[codes['le3'] == 0]

      Index                           Country  ml  inverse_ml  le3
Code
AO        2                            Angola   0           3    0
AR        3                         Argentina   4           5    0
AT        4                           Austria   4           5    0
BI       11                           Burundi   4           1    0
BO       12                           Bolivia   5           2    0
CD       16  The Democratic Republic Of Congo   0           0    0
CH       17                       Switzerland   4           3    0
CI       18                     Cote D'Ivoire   4           0    0
CL       19                             Chile   2           6    0
CN       21                             China   0           3    0
CZ       23                    Czech Republic   1           2    0
DE       24                           Germany   4           1    0
EC       28                           Ecuador   3           5    0
ET       31                          Ethiopia   8           4    0
GB       34                    United Kingdom   2           3    0
GT       37                         Guatemala  10           3    0
HN       38                          Honduras   0           3    0
HU       40                           Hungary   7           0    0
IL       42                            Israel   5           1    0
IN       43                             India   1           3    0
IT       44                             Italy   7           3    0
KE       47                             Kenya   4           2    0
KZ       50                        Kazakhstan   0           0    0
LA       51                              Laos   0           1    0
ML       55                              Mali  10           5    0
MX       56                            Mexico   4           3    0
NP       62                             Nepal   0           2    0
PE       63                              Peru   8           5    0
RO       70                           Romania   0           0    0
RU       71                            Russia   4           2    0
SE       74                            Sweden   3           2    0
UA       82                           Ukraine  10           2    0
ZA       88                      South Africa   2           2    0

In [53]:
df5[(df5['i'] == 'AO') & (df5['j'] == 'CN')]

      i   j      D_ij  civ_i  civ_j civ_ij  comciv  positive_Dij
460  AO  CN -11.24013  afric  sinic    NaN       0      0.000013

In [54]:
df5[(df5['i'] == 'CH') & (df5['j'] == 'CN')]

       i   j      D_ij  civ_i  civ_j civ_ij  comciv  positive_Dij
3579  CH  CN  0.022875  wstrn  sinic    NaN       0      1.023139

In [55]:
df5[(df5['i'] == 'ES') & (df5['j'] == 'FR')]

       i   j      D_ij  civ_i  civ_j civ_ij  comciv  positive_Dij
5360  ES  FR  1.063779  wstrn  wstrn  wstrn       1      2.897299

Collecting geopandas
  Using cached geopandas-0.8.1-py2.py3-none-any.whl (962 kB)
Requirement already satisfied: pandas>=0.23.0 in /usr/local/Cellar/jupyterlab/2.2.9_1/libexec/lib/python3.9/site-packages (from geopandas) (1.1.5)
Collecting fiona
  Using cached Fiona-1.8.18.tar.gz (1.3 MB)
    ERROR: Command errored out with exit status 1:
     command: /usr/local/Cellar/jupyterlab/2.2.9_1/libexec/bin/python -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'/private/var/folders/pw/dzlrh27j04q8ffytlb3zv7mr0000gn/T/pip-install-91gba50g/fiona_491092915a7e4350b1388a136b05bf7a/setup.py'"'"'; __file__='"'"'/private/var/folders/pw/dzlrh27j04q8ffytlb3zv7mr0000gn/T/pip-install-91gba50g/fiona_491092915a7e4350b1388a136b05bf7a/setup.py'"'"';f=getattr(tokenize, '"'"'open'"'"', open)(__file__);code=f.read().replace('"'"'\r\n'"'"', '"'"'\n'"'"');f.close();exec(compile(code, __file__, '"'"'exec'"'"'))' egg_info --egg-base /private/var/folders/pw/dzlrh27j04q8ffytlb3zv7mr0000gn/T/pip-pip-egg-info-juzevqxg
         cwd: /private/var/folders/pw/dzlrh27j04q8ffytlb3zv7mr0000gn/T/pip-install-91gba50g/fiona_491092915a7e4350b1388a136b05bf7a/
    Complete output (2 lines):
    Failed to get options via gdal-config: [Errno 2] No such file or directory: 'gdal-config'
    A GDAL API version must be specified. Provide a path to gdal-config using a GDAL_CONFIG environment variable or use a GDAL_VERSION environment variable.
    ----------------------------------------
ERROR: Command errored out with exit status 1: python setup.py egg_info Check the logs for full command output.
Note: you may need to restart the kernel to use updated packages.

In [65]:
import geopandas

ModuleNotFoundError: No module named 'geopandas'